/* Different width for Different Devices */

/* @media (max-width:767px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width:1200px) {} */

body{font-family: "Poppins", Sans-serif}
.mainDiv {text-align: center;}
.div1 {font-size: 25px; margin-top: 15px; margin-bottom: 15px; font-weight: 600; border: 3px solid red; width: auto;}
.boxdiv{
    float: left;
    width: 10cm;
    height: 10cm;
    border: 0px solid;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.boxdiv img{
    height:200px; 
    width: 200px;
    padding: 15px;

}

.tab {
    border-collapse: collapse;
    box-shadow: 0px 0px 0px 4px;
    border-radius: 22px;
    width: 80%;
}
